:root {
  --primary-color: #4287f5;
  --secondary-color: #ff5722;
  --background-color: #f5f5f5;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: url('your-background-image.jpg') center center fixed;
  background-size: cover;
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--secondary-color);
}

main {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

h1, h2, h3 {
  color: var(--text-color);
  font-weight: bold;
}

p {
  line-height: 1.6;
}

main a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

main a:hover {
  color: var(--secondary-color);
}

.button {
  padding: 12px 24px;
  font-family: 'Calibri', sans-serif;
  user-select: none;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 18px;
  border: 2px solid gray;
  background-color: gray;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--secondary-color);
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: var(--primary-color);
  color: #fff;
}

@media (max-width: 768px) {
  nav ul {
    margin-top: 10px;
  }

  nav li {
    margin: 10px 0;
  }
}
